.ui-slider {
    background-color: #E1D9F5;
    width:200px;
    margin-top:6px;
}

.ui-resizable-handle{
    z-index: 1000;
}

.ui-slider-handle {
    background-color: #f9f9f9;
    border-color:gray;
}

.ui-slider-handle:hover{
    border-color:gray;
}

.imageeditor-slider{
    margin:20px 15px 10px 10px;
}

.imageeditor-slider p{
    padding-left:45%;
    position:relative;
    top:-20px;
}
div.imageeditor-dialog .imageeditor-slider p{
    padding-left:45%;
    top:-20px;
    font-weight:normal;
}

.ui-dialog-content {
    padding:10px;
}

#portal-column-two, #portal-column-one{
    display:none;
}

div.image-edit-action{
    display:none;
}

.image-edit-apply-button{
    background-repeat: no-repeat;
    background-image: url(++resource++imageeditor/icons/apply.png);
    padding: 1px 1px 1px 16px;
    cursor:pointer;
    border: 1px solid black;
    background-color: #f1f1f1;
    margin:1px 5px 3px 0px;
    width:100%;
}

.image-edit-apply-button:hover{
    border: 1px solid red;
}

div#options{
    padding:5px;
}

div.edit-option{
    padding:2px;
    margin:0px;
}
div.edit-option{
    font-size:10px;
}    
div.edit-option .formQuestion{
    padding-right:5px;
}
    
div#buttons input{
    background-repeat: no-repeat;
    cursor:pointer;
    border: 1px solid gray;
    background-color: #f1f1f1;
    margin:1px 5px 0 0;
    padding:0 1px 3px 16px;
}

div#buttons input:hover, .image-edit-apply-button:hover{
    background-color:white;
    border: 1px solid black;
}

input.edit-button{
    background-repeat: no-repeat;
    padding: 0 0 0 10px;
    cursor:pointer;
    float:left;
    width:100%;
    height:17px;
    margin: 0 0 2px 0;
}

input.active{
    border: 1px solid green;
}

input.enabled{
    background-color:white;
    border-color:black;
    cursor:pointer;
}
input.disabled{
    border-color:black;
    background-color:gray;
    color:black;
    cursor:default;
}
#image-container{
    margin:auto;
}
img#source-image{
    margin:auto;
    position:relative;
    top:0px;
    left:0px;
}

div#status-bar{
    width: 100%;
    height:20px;
    background-color:gray;
    border-top:1px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align:center;
    margin:auto;
    padding-top:5px;
}

div#buttons{
    width:100%;
}

div#menuHandle{
    background-color:black;
    width:100%;
    height:18px;
    margin-bottom:5px;
    cursor:move;
    text-align:center;
    color:#f1f1f1;
}

div#image-editor-controls{
    background-color:#f9f9f9;
    border: 2px solid black;
    width:150px;
    z-index:1001;
    padding:3px 3px 3px 30px;
    position:fixed;
    margin: auto auto auto 5px;
    text-align:center;
    opacity:.9;
    right:-160px;
    top:1px;
    background-image: url(++resource++imageeditor/icons/actions_background.jpg);
    background-repeat: no-repeat;
    background-position: 0% 48%;
}

#zoom-slider-wrapper{
    border:1px solid black;
    padding: 0px 0px 0px 25px;
    width: 225px;
    height: 61px;
    background-color:#f1f1f1;
    opacity:.9;
    position:fixed;
    right:-215px;
    bottom:0px;
    z-index:100;
    background-image: url(++resource++imageeditor/icons/zoom_background.jpg);
    background-repeat: no-repeat;
    background-position: 0% 0px;
}
